body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: slateblue;
  margin-left: 5em; }

nav {
  box-shadow: none;
  display: block;
  line-height: 62px; }
  nav.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    background-color: slateblue;
    height: auto; }
  nav .tabcontent {
    padding: 20px;
    height: 4em; }
    nav .tabcontent i {
      margin-right: 2em; }
    nav .tabcontent:hover {
      background: darkblue; }
  nav i {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 46px !important; }

.logo {
  padding: 1em;
  margin: 0 -2em; }
  .logo h1 {
    font-weight: bold;
    color: white;
    font-size: xxx-large; }

.image {
  border-radius: 50%;
  margin: 0 -2em;
  text-align: center; }
  .image .home {
    max-width: 20%; }
    .image .home span {
      display: inline-block;
      width: 100%;
      color: white;
      font-size: 14px; }

.flex {
  display: flex; }

.flex-align-center {
  align-items: center; }
